@font-face{
    font-family: montserrat;
    src: url('Montserrat-Medium.ttf');
    font-weight: normal;}


body, html {
    margin: 0;
    font-family: montserrat,sans-serif;
    background-color: #f5f6fa;
}

.all {
    display: flex;
    flex-direction: column;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-container {
    padding:3em;
    width: fit-content;
    &-title{
        font-size: 2.25em;
        margin-bottom: 0.25em;
        font-weight: bold;
    }

    &-error {
        color :red
    }
    
    &-desc{
        margin-bottom: 1.5em;
    }
    &-buttons{
        
        display: flex;

        a, input, select{
            background-color: #3f70d1;;
            color:#ffffff;
            padding:15px;
            border-radius: 10px 10px 10px 10px;
            border: #3f70d1 1px solid;
            margin-right: 1em;
            font-size: 1.1em;
            cursor: pointer;

        }
        option{
            color:#3f70d1;
        }

        .reverse{
            background-color: #ffffff;;
            color:black;
            border: #3f70d1 1px solid;

        }
    }
    span{
        font-weight: bold;
    }

}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: red;
    margin: 2em;

    border-radius: 15px 15px 15px 15px;
    background-color: #ffffff;
    padding:10px;

    -webkit-box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.19); 
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.19);
    &-title{
        font-size: 2.25em;
    }
}



table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}


a{
    text-decoration: none;
    &.delete{
        color:red;
        
    }
}
