{% extends 'base.html' %}


{% block title %}
    <h1>Ceneo</h1>
{% endblock%}

{% block body %}
    <div class = "content">
        <div class = "home-container">
            <div class = "home-container-title">Author</div>
            <div class = "home-container-desc">Created, developed and designed UEK student <span> Szymon Konopek</span></div>
            <div class = "home-container-desc"><span>Hobbys:</span> Cycling, Technology, Cars, Going out</div>
        </div>
    </div>
{% endblock%}