<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/navbar.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    
</head>
<body>
    <div class = "all">
        <div class = "main">
            <div class = "banner"><a href="/">Ceneo Webscraper</a></div>
            <div class = "navbar">
                <a href = "/">Home</a>
                <a href = "/extraction">Extraction</a>
                <a href = "/product-list">Products List</a>
                <a href = "/author">About</a>
            </div>
            <div class = "main-container">
                {% block body %}{% endblock%}
            </div>
        </div>
        <footer class = "footer">
                <div class = "footer-title">Ceneo Web-Scraper</div>
                <div class = "footer-links">
                    <a href = "/">Home</a>
                    <a href = "/extraction">Extraction</a>
                    <a href = "/product-list">Products List</a>
                    <a href = "/author">About</a>
                </div>
                <div class = "footer-info">Copyright ©2022 | Szymon Konopek </div>
        </footer>
    </div>

</body>
</html>