{% extends 'base.html' %}


{% block title %}
    <h1>Task Master</h1>
{% endblock%}

{% block body %}
    <div class = "content">

        {% if tasks|length < 1 %}
        <h4>No entries :(</h4>
        {% else %}
        
        <h1>Ceneo</h1>
        <table>
            <tr>
                <th>Author</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.author_name }}</td>
                <td>{{ task.opinion_text }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor%}
        </table>
        {% endif %}
        <form action = "/" method = "POST">
            <input type = "text" name = "content" id = "content">
            <input type = "submit" value = "Get Reviews">
        </form>

    </div>
{% endblock%}