{% extends 'base.html' %}


{% block body %}
    <div class = "content">
        <div class = "home-container">
            <div class = "home-container-title">Extract and Save <br/> Ceneo Reviews Easily!</div>
            <div class = "home-container-desc">Fast and easy way to extract any reviews from any Ceneo <br/> product and display essential statistics in charts.<br/>Days of manually copying each review are gone.</div>
            <div class = "home-container-buttons">
                <a href="/extraction" >Extraction</a>
                <a href="/product-list" class="reverse">Products</a>
            </div>
        </div>
    </div>
    <div class = "content">
        <div class = "home-container">
            <div class = "home-container-title">How to</div>
            <div class = "home-container-desc">1. Visit Extraction page </div>
            <div class = "home-container-desc">2. Paste valid ceneo url </div>
            <div class = "home-container-desc">3. Click extract </div>
            <div class = "home-container-desc">4. Explore downloaded reviews</div>
            <div class = "home-container-desc">5. Visit Statistic page to see more details</div>
            <div class = "home-container-buttons">
                <a href="/extraction" >Start</a>
            </div>
        </div>
    </div>
    <div class = "content">
        <div class = "home-container">
            <div class = "home-container-title">About Creator</div>
            <div class = "home-container-desc">Short description of the author of the page. </div>
            <div class = "home-container-buttons">
                <a href="/author" >Explore</a>
            </div>
        </div>
    </div>


{% endblock%}