{% extends 'base.html' %}


{% block title %}
    <h1>Ceneo</h1>
{% endblock%}

{% block body %}
    <div class = "content">
        <div class = "home-container">
            <div class = "home-container-title">Product Page {{id}}</div>
            <div class = "home-container-title">{{product_name}}</div>
            <div class = "home-container-desc">Click below to view all the charts.</div>
            <div class = "home-container-buttons">
                <a href="/product-page/{{id}}/charts">Statistics</a>
                <a href="/download-json/{{id}}" class="reverse">Download JSON</a>
            </div>
        </div>
    </div>
    
    <div class = "content">
        <div class = "home-container">
            <div class = "home-container-title">Description</div>
            <div class ="home-container-desc">
                <span>Author:</span> Username of the person who wrote the review, directly taken from the website.
            </div>
            <div class ="home-container-desc">
                <span>Opinion: </span> Final opinion. Boolean value (True = POSITIVE, False = NEGATIVE).
            </div>
            <div class ="home-container-desc">
                <span>Rating: </span> Product rating from 0.5 to 5 out of 5. 
            </div>
            <div class ="home-container-desc">
                <span>Usefulness: </span>Difference between positive and negative reactions to the comment.
            </div>
            <div class ="home-container-desc">
                <span>Upsides: </span>List of all upsides listed by the user.
            </div>
            <div class ="home-container-desc">
                <span>Downsides: </span>List of all downsides listed by the user.
            </div>
            <div class ="home-container-desc">
                <span>Confirmed: </span>Confirmed purchase. Boolean value (True = Yes, False = No).
            </div>
            <div class ="home-container-desc">
                <span>Review: </span>Date of submission of the review.
            </div>
            <div class ="home-container-desc">
                <span>Purchase: </span>Date of purchase of the product.
            </div>
            <div class ="home-container-desc">
                <span>Text: </span>Full written review.
            </div>
        </div>
    </div>

    <div class ="content" id = "main-table">
        <div class = "home-container">
            <div class = "home-container-title">Filter</div>
            <form action = "/product-page/{{id}}" method = "POST" class = "home-container-buttons">
                <input type = "text" name = "filter_text" id = "filter_text" class="reverse">
                <select id="filter_category" name = "filter_category" class = "reverse">
                    <option></option>
                    <option value="data_entry_id">ID</option>
                    <option value="author_name">Author</option>
                    <option value="score_count">Rating</option>
                    <option value="advantages">Upsides</option>
                    <option value="disadvantages">Downsides</option>
                    <option value="review_date">Review</option>
                    <option value="purchase_date">Purchase</option>
                    <option value="opinion_text">Text</option>
                </select>
                <input type = "submit" value = "Filter">
            </form>
            
        </div>
        <div class = "home-container-desc">Click on the column's title to sort!</div>
            {{sort_table}}
        </div>

        <script>
            if ("{{anchor}}" != ""){
                location.hash = "#" + "{{anchor}}"
            }
        </script>
        
    </div>
{% endblock%}