{% extends 'base.html' %}


{% block title %}
    <h1>Ceneo</h1>
{% endblock%}

{% block body %}
    <div class = "content">
        <h1>Product Page {{id}}</h1>
        <a href="/">Home</a>
        {% if tasks|length < 1 %}
            <h4>No entries :(</h4>
        {% else %}
        
        <h1>Extraction</h1>
        
        <table>
            <tr>
                <th>Author</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                {% if task.product_id == id %}
                    <tr>
                        <td>{{ task.author_name }}</td>
                        <td>{{ task.opinion_text }}</td>
                        <td>{{task.credibility}}</td>
                        <td>
                            <a href="/delete/{{task.product_id}}/{{task.id}}/{{tasks|length}}">Delete</a>
                            <br>
                            <a href="/update/{{task.id}}">Update</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor%}
        </table>
        {% endif %}

    </div>
{% endblock%}