{% extends 'base.html' %}


{% block title %}
    <h1>Ceneo</h1>
{% endblock%}

{% block body %}
    <div class = "content">
        <h1>Product List</h1>


        {% if unique_products|length < 1 %}
        <h4>No entries :(</h4>
        {% else %}
        <table>
            <tr>
                <th>Products</th>
                <th>Opinions</th>
                <th>Upsides</th>
                <th>Downsides</th>
                <th>Average Score</th>
                <th>JSON</th>
                <th>Delete</th>
            </tr>
            {% set count = 0%}
            {% for product in unique_products %}
                    <tr>
                        <td>
                            <a href="/product-page/{{product['id']}}"  class ="product-list">{{ product["name"] }}</a>
                        </td>
                        <td>
                            {{product["number_of_opinions"]}}
                        </td>
                        <td>
                            {{product["number_of_upsides"]}}
                        </td>
                        <td>
                            {{product["number_of_downsides"]}}
                        </td>
                        <td>
                            {{product["average_score"]}}
                        </td>
                        <td>
                            <a href="/download-json/{{product['id']}}" class ="product-list">Download</a>
                        </td>
                        <td>
                            <a href="/delete-page/{{product['id']}}" class = "delete">X</a>
                        </td>

                    </tr>
                {% set count = 1 %}
            {% endfor%}
        </table>
        {% endif %}

    </div>
{% endblock%}